.locationInputAside {
	max-width: 405px;
	width: 100%;
	position: relative;
	background-color: rgba(184, 178, 178, 0.6);
	left: 0;
	transition: 0.5s;
	&[data-open="false"] {
		left: -365px;
		.openBlockBtn{
			transform: rotate(180deg);
		}
	}

	& .content {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		padding: 25px 40px;
		position: relative;
		.openBlockBtn {
			position: absolute;
			right: 0px;
			top: 5px;
			font-size: 28px;
			font-weight: 600;
			width: 40px;
			cursor: pointer;
		}

		.title {
			margin-top: 30px;
		}
		.form {
			display: flex;
			flex-direction: column;
			row-gap: 10px;

			.input {
				width: 100%;
				height: 30px;
				padding: 8px 12px;
			}

			.formBtn {
				width: 50%;
				height: 30px;
			}
		}
	}
}
